@import url("https://fonts.googleapis.com/css?family=Nunito");
.profile-settings .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-settings .avatar i {
  font-size: 10rem;
}

/*# sourceMappingURL=app.css.map */
